{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header text-center">
        Bien Venue  {{user.username}} dans votre compte d'activité personelle
        {#{ app.user ? app.user.email : 'Aquanauts' }#}
    </h1>
{% endblock %}
